numpy
pandas
git+https://github.com/pannet1/omspy.git
git+https://github.com/pannet1/omspy-brokers.git
git+https://github.com/pannet1/toolkit.git
pyaml
pydantic==1.9
pendulum
smartapi-python
websocket-client
pyotp
polars
finplot
PyQT5
pyarrow
logzero
